@font-face {
  font-family: 'DMS';
  src:  url('../fonts/DmsFont/DMS.eot?shoyr0');
  src:  url('../fonts/DmsFont/DMS.eot?shoyr0#iefix') format('embedded-opentype'),
    url('../fonts/DmsFont/DMS.ttf?shoyr0') format('truetype'),
    url('../fonts/DmsFont/DMS.woff?shoyr0') format('woff'),
    url('../fonts/DmsFont/DMS.svg?shoyr0#DMS') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DMS' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeline:before {
  content: "\e902";
}
.icon-shopping-cart:before {
  content: "\e900";
}
.icon-shopping-cart-up:before {
  content: "\e901";
}
.icon-stopwatch-Question:before {
  content: "\e905";
}
.icon-stopwatch:before {
  content: "\e906";
}
.icon-heart-care:before {
  content: "\e907";
}
.icon-siren:before {
  content: "\e908";
}
.icon-stopnice:before {
  content: "\e909";
}
.icon-bed-discharge:before {
  content: "\e90a";
}
.icon-half-empty-bed:before {
  content: "\e90b";
}
.icon-empty-bed:before {
  content: "\e90c";
}
.icon-full-bed:before {
  content: "\e90d";
}
.icon-emr-setup-icon:before {
  content: "\e830";
}
.icon-chair:before {
  content: "\e90e";
}
.icon-hospital-bed-discharge:before {
  content: "\e90f";
}
.icon-embryo:before {
  content: "\e910";
}
.icon-cough:before {
  content: "\e911";
}
.icon-add-button-inside-black-circle:before {
  content: "\e912";
}
.icon-calendar-and-clock:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e914";
}
.icon-clerk:before {
  content: "\e915";
}
.icon-Collective-CC:before {
  content: "\e916";
}
.icon-Count-Safe:before {
  content: "\e917";
}
.icon-Deposit:before {
  content: "\e918";
}
.icon-Disbursement:before {
  content: "\e919";
}
.icon-speeding-arrow:before {
  content: "\e91a";
}
.icon-double-directional-arrow:before {
  content: "\e91b";
}
.icon-Disbursement-alt:before {
  content: "\e91c";
}
.icon-down-arrow:before {
  content: "\e91d";
}
.icon-exchange:before {
  content: "\e91e";
}
.icon-hand-shake:before {
  content: "\e91f";
}
.icon-invoice:before {
  content: "\e920";
}
.icon-saving-into-safe-box:before {
  content: "\e921";
}
.icon-transfer:before {
  content: "\e922";
}
.icon-withdraw-of-a-safe-box:before {
  content: "\e923";
}
.icon-bank-building:before {
  content: "\e924";
}
.icon-calendar:before {
  content: "\e925";
}
.icon-call-answer:before {
  content: "\e926";
}
.icon-clock:before {
  content: "\e927";
}
.icon-danger:before {
  content: "\e928";
}
.icon-door:before {
  content: "\e929";
}
.icon-female-silhouette:before {
  content: "\e92a";
}
.icon-hand:before {
  content: "\e92b";
}
.icon-Transfer-to-Bank:before {
  content: "\e92c";
}
.icon-hands:before {
  content: "\e92d";
}
.icon-invoice1:before {
  content: "\e92e";
}
.icon-man:before {
  content: "\e92f";
}
.icon-mask:before {
  content: "\e930";
}
.icon-medical:before {
  content: "\e931";
}
.icon-teacher:before {
  content: "\e932";
}
.icon-tool:before {
  content: "\e933";
}
.icon-event:before {
  content: "\e934";
}
.icon-bar-chart:before {
  content: "\e935";
}
.icon-bell:before {
  content: "\e936";
}
.icon-calendar-with-a-clock-time-tools:before {
  content: "\e937";
}
.icon-coin-stack:before {
  content: "\e938";
}
.icon-nurse:before {
  content: "\e939";
}
.icon-pharmacy-shopping-cart:before {
  content: "\e93a";
}
.icon-teacher1:before {
  content: "\e93b";
}
.icon-open-book:before {
  content: "\e93c";
}
.icon-date-time:before {
  content: "\e93d";
}
.icon-home-care:before {
  content: "\e93e";
}
.icon-nurse-patient:before {
  content: "\e93f";
}
.icon-bed-empty:before {
  content: "\e940";
}
.icon-bed-full:before {
  content: "\e941";
}
.icon-fail-risk:before {
  content: "\e942";
}
.icon-ops:before {
  content: "\e943";
}
.icon-hospital-bed-full1:before {
  content: "\e944";
}
.icon-alarm-clock:before {
  content: "\e945";
}
.icon-vertical-bed-reserved:before {
  content: "\e946";
}
.icon-vertical-bed-full:before {
  content: "\e947";
}
.icon-vertical-bed-empty:before {
  content: "\e948";
}
.icon-vertical-bed-half-empty:before {
  content: "\e949";
}
.icon-vertical-bed-half-full:before {
  content: "\e94a";
}
.icon-patient-isolation:before {
  content: "\e94b";
}
.icon-sphere:before {
  content: "\e94c";
}
