/***** Common *****/
:root {
    --bs-primary-rgb: 30, 107, 172;
    --appColor: #1e6bac;
    --filter-img: grayscale(100%) brightness(70%) sepia(70%) hue-rotate(190deg) saturate(4567%) contrast(200%);
}

.table td.delete-cell .fa-trash-alt {
    color: red;
    font-size: 1rem;
    cursor: pointer;
}

#IncidentsTable div.dt-buttons {
    float: right;
}

/* div.dataTables_wrapper div.dataTables_length {
    bottom: -25px;
    position: relative;
} */

.status {
    padding: .5rem 1rem;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.status>i {
    margin-right: 5px;
}

.status.warning {
    background-color: #0d6efd31;
    color: #0d6efd;
}

.status.success {
    background-color: #3c763d31;
    color: #3c763d;
}

.status.info {
    background-color: #ffef8b;
    color: #854f30;
}

.status.danger {
    background-color: #a9444231;
    color: #a94442;
}

body.DMSBlueBlue .page-title a[data-bs-dismiss="offcanvas"] {
    color: #fff;
}

.page-link:hover {
    color: #fff;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
    cursor: pointer;
}

/***** End Common *****/
/***** Icons *****/
.icons-wrapper {
    margin: 5px 0;
    text-align: center;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50em;
    opacity: 0.5;
}

.icons-wrapper i {
    font-size: 30px;
    margin-bottom: -9px;
}

.icons-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50em;
}

.icons-wrapper.icons-primary::after {
    background-color: #0d6efd59;
    border: 1px solid #0d6efd;
}

.icons-wrapper.icons-success::after {
    background-color: #19875459;
    border: 1px solid #198754;
}

.icons-wrapper.icons-warning::after {
    background-color: #ffc10759;
    border: 1px solid #ffc107;
}

.icons-wrapper-lg {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 50em;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.icons-wrapper-lg i {
    font-size: 90px;
    margin-bottom: -30px;
}

.icons-wrapper-lg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50em;
    background-color: #7fff0061;
}

@media (max-width: 1199.98px) {
    .icons-wrapper-lg {
        width: 50px;
        height: 50px;
    }

    .icons-wrapper-lg i {
        font-size: 45px;
        margin-bottom: -5px;
    }
}

/***** End Icons *****/
/***** Critical Indicators *****/
.critical-indicators {
    margin-top: 2px;
    padding: 1px 5px;
    display: inline-flex;
    border-radius: 2px;
}

.critical-indicators a {
    margin-right: 15px;
    font-size: 20px;
    color: var(--appColor);
}

@media (min-width: 991px) and (max-width:1199.98px) {
    .critical-indicators {
        flex-wrap: wrap;
        display: flex;
    }

    .critical-indicators>a {
        flex: 1 1 auto;
        width: 33.3333%;
        margin-right: 0;
    }
}

/***** End Critical Indicators *****/
/***** Accordion *****/
.accordion-button::after {
    content: "\2b";
    font-family: 'Font Awesome 6 Free';
    font-weight: bold;
    position: absolute;
    left: 7px;
}

.accordion-button:not(.collapsed)::after {
    content: "\f068";
}

.accordion-item .accordion-button,
.accordion-item .accordion-button.collapsed {
    background-color: #1e6bac1a;
    color: var(--appColor);
    padding-left: 36px;
}

/***** End Accordion *****/
/***** Patient Panel *****/
#patientsPanel .card {
    border-radius: 0 0 5px 5px;
}

#patientsPanel #patientsList .card {
    border-bottom: 0;
}

#patientsList .btn.btn-primary {
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    width: 50%;
}

#patientsList .btn.btn-primary:first-of-type {
    border-radius: 0 0 0 5px;
}

#patientsList .btn.btn-primary:last-of-type {
    border-radius: 0 0 5px 0;
}

@media (min-width: 991px) and (max-width:1199.98px) {
    #patientsList .btn.btn-primary {
        font-size: 10px;
    }
}

#patientsList .card-footer {
    padding: 0;
}

#patientsList .morePatients a {
    white-space: nowrap;
    text-decoration: underline;
    font-size: 12px;
    position: relative;
    left: -10px;
}

#patientsList .patientIcon {
    position: relative;
}

#patientsList .patientIcon::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    list-style-type: decimal-leading-zero;
    font-size: 18px;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 10px;
    text-shadow: 1px 1px #646464;
}

#patientsList .patientIcon:hover .icons-wrapper {
    opacity: 1;
}

#patientInfo .patientName,
#patientInfo .patientMR {
    font-size: 14px;
}

@media (max-width: 1199.98px) {
    #patientInfo .card-body {
        padding: 10px;
    }
}

#patientHistor {
    font-size: 0.7rem;
}

#visitControls .dropdown-menu {
    padding: 0;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#visitControls .dropdown-menu li {
    color: rgb(108, 117, 125) !important;
    line-height: 1.2;
    position: relative;
    font-size: 12px;
    transition: .2s all ease-in-out;
}

#visitControls .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

#visitControls .dropdown-menu li:hover {
    background-color: #EFEFEF;
    color: #296dac !important;
}

#visitControls .dropdown-menu li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #296dac;
    transition: all .2s ease-in-out;
    opacity: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#visitControls .dropdown-menu li:hover:before {
    opacity: 1;
}

#visitControls .dropdown-menu li a {
    padding: 0.5rem 1rem;
}

#visitControls .btn-group>.btn:first-child {
    width: calc(100% - 40px);
}

.visit-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-items: end;
}

@media (min-width:1200px) {
    .visit-btn-wrapper>.btn {
        width: 100%;
    }
}

@media (min-width: 991px) and (max-width:1199.98px) {
    .visit-btn-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        margin-top: .5rem;
    }

    .card-icons .patientIcon:nth-child(8),
    .card-icons .patientIcon:nth-child(9) {
        display: none !important;
    }
}

@media (max-width:1199.98px) {
    .visit-btn-wrapper>.btn {
        min-width: 100px;
    }

    .visit-btn-wrapper>.btn:not(:last-child) {
        margin-right: .5rem;
    }
}

@media (max-width: 991.98px) {
    .visit-btn-wrapper {
        flex-direction: row;
        justify-content: end;
    }
}

/***** End Patient Panel *****/
/***** Collapse *****/
.accordion-item {
    margin-bottom: 1rem;
}

.collapsableWithIcon .card-header,
.inputTemplates .card-header {
    color: var(--appColor);
    font-size: 1rem;
    background-color: #1e6bac24;

}

.inputTemplates .card-header i {
    margin-right: 0.5rem
}

.collapsableWithIcon .card-header .action-tools>.btn {
    height: 23px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.collapsableWithIcon [aria-expanded="true"] .card-header>.fa-plus::before {
    content: "\f068";
}

.inputTemplates .card-body .btn-secondary {
    background-color: #e6e6e6;
    border-color: #d5d5d5;
    color: #6c6c6c;
    border-width: 2px;
    padding-top: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.inputTemplates .card-body .btn-secondary:hover {
    background-color: #d9d9d9;
}

.inputTemplates .card-body .btn-secondary i {
    display: inline-flex;
    color: #bbc1c7;
    border-right: 2px solid #bbc1c7;
    padding-right: 5px;
    line-height: 1.6;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
    font-size: 14px;
    width: 1rem;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.inputTemplates .card-body .btn-secondary span {
    vertical-align: middle;
}

.inputTemplates .card-body .btn-secondary.btn-details {
    background-color: #dae9f6;
    border-color: #cfe2f3;
    color: #6c91b3;
}

.inputTemplates .card-body .btn-secondary.btn-details:hover {
    background: #c7daeb;
}

.inputTemplates .card-body .btn-secondary.btn-details i {
    color: #6c91b3;
    border-right: 2px solid #cfe2f3;
}

.inputTemplates .card-body .btn-secondary i.fa-circle {
    font-size: 6px;
}

/***** End Collapse *****/
/***** Input Templates *****/
.template-header {
    color: var(--appColor);
    font-weight: 500;
}

.template-header .template-back {
    margin-right: 3px;
    border: 2px solid var(--appColor);
    border-radius: 50em;
    padding: 4px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--appColor);
}

.side-check {
    margin-bottom: 0;
}

.side-check .btn-check+.btn {
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 25px;
    height: 20px;
    font-size: 14px;
    border-right: 1px solid #fff;
    font-weight: 500;
}

.side-check .btn-check:checked+.btn,
.side-check .btn-check+.btn:hover {
    background-color: #ffc356;
    color: #333 !important;
    opacity: 1;
}

@media (min-width: 768px) {
    .collapsedTemplate .inputTemplates {
        height: 40px;
        width: 40px;
        border: 0;
        overflow: hidden;
        margin-left: auto;
    }

    .collapsedTemplate .inputTemplates .card-header {
        border: 0;
        border-radius: 0.4rem;
        justify-content: center;
    }

    .collapsedTemplate .patientsBodyCollapse {
        flex: 1 0 0%;
    }

    .collapsedTemplate .inputTemplatesCollapse {
        width: 5%;
    }

    .inputTemplates .card-header #collapse-template {
        color: var(--appColor);
    }

    .collapsedTemplate .inputTemplates .card-header span,
    .collapsedTemplate .inputTemplates .card-header .action-tools,
    .collapsedTemplate .inputTemplates .card-body {
        display: none;
    }

    .collapsedTemplate .inputTemplates .card-header i {
        margin-right: 0;
    }

    .collapsedTemplate .inputTemplates .card-header i.fa-chevron-right::before {
        content: "\f053";
    }
}

@media (min-width: 991px) {
    .inputTemplates .card-header>span {
        white-space: nowrap;
    }
}

@media (max-width: 1199.98px) {
    .inputTemplates .card-body .btn-secondary span {
        font-size: 11px;
    }
}

/***** End Input Templates *****/
/***** Spectacle *****/
:root {
    --glassesColor: #6b8591;
}

.spectacle-bg {
    background: #ebf6fb;
    padding: 10px;
    border: 1px solid #cee7f2;
    margin: 0 0 10px 0;
}

.spectacle-view {
    display: flex;
    justify-content: space-between;
    margin: 5px 139px;
    text-align: center;
    width: 78%;
    margin: 5px auto 10px;
    position: relative;
}

@media (max-width: 991.98px) {
    .spectacle-view {
        width: 98%;
    }
}

.spectacle-view input {
    width: 70px;
    padding: 6px;
    text-align: center;
    border: 1px solid #96b6c4;
}

.spectacle-view label {
    margin-bottom: 1px;
}

.ipd-view {
    padding: 5px 10px 0;
    border-top: 8px solid var(--glassesColor);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.left-eye,
.right-eye {
    border: 8px solid var(--glassesColor);
    border-radius: 20px 20px 60px 60px;
    height: 137px;
    padding: 4px 10px 8px;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4px 13px;
    background: #fff;
    line-height: 14px;
}

@media (max-width: 991.98px) {

    .left-eye,
    .right-eye {
        gap: 4px 5px;
    }
}

.left-eye p,
.right-eye p {
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    color: #566b75;
    margin: 0;
    text-align: left;
}

.left-eye p {
    text-align: right;
}

.left-eye:after,
.right-eye:after {
    content: "";
    width: 11px;
    height: 33px;
    background: var(--glassesColor);
    position: absolute;
    top: 17px;
}

.left-eye:after {
    border-radius: 0 7px 7px 0;
    right: -19px;
}

.right-eye:after {
    border-radius: 7px 0 0 7px;
    left: -19px;
}

/***** End Spectacle *****/
/***** Steps Tabs *****/
.nav-tabs.steps-tabs {
    border-bottom: 0;
}

.nav-tabs.steps-tabs .nav-link {
    border: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: auto;
    position: relative;
    z-index: 10;
    color: var(--appColor) !important;
}

.nav-tabs.steps-tabs .nav-item {
    position: relative;
}

.nav-tabs.steps-tabs .nav-item::after {
    content: "";
    border-bottom: 2px #d2e1ee solid;
    position: absolute;
    width: 100%;
    top: 25px;
    margin-left: 0;
    z-index: 9;
    left: 50%;
}

.nav-tabs.steps-tabs .nav-item:last-child::after {
    display: none;
}

.nav-tabs.steps-tabs .nav-link .icon-circle {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #d2e1ee;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.nav-tabs.steps-tabs .nav-link .icon-circle i {
    font-size: 30px;
}

.nav-tabs.steps-tabs .nav-link.active .icon-circle i {
    color: #fff;
}

.nav-tabs.steps-tabs .nav-link.active .icon-circle {
    background: #ffc356;
}

.nav-tabs.steps-tabs .nav-link .icon-circle::after {
    content: '';
    border: 2px solid #d2e1ee;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: absolute;
    left: -4.92px;
    top: 0.5px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.nav-tabs.steps-tabs .nav-link.active .icon-circle::after {
    border: 2px solid #ffc356;
}

.steps-tabs+.tab-content>.tab-pane .card-body {
    padding: 1rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
    border: 1px solid var(--appColor);
}

.input-group-text {
    height: 30px;
}

label+p {
    color: #8e9092;
}

.form-label {
    font-weight: 600;
}

/***** End Steps Tabs *****/
/***** Select *****/
.select2-container--default .select2-selection--multiple {
    min-height: 28px;
    height: 28px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    line-height: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li:not(.select2-selection__choice) {
    height: 100%;
    line-height: 28px;
}

/***** End Select *****/
/***** Timeline *****/
.steps {
    display: flex;
}

.step {

    position: relative;
}

.step>span:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #007EA7;
    margin: auto;
}

.step span.done {
    background-color: #337ab7;
    color: #fff;
}

.step .done:after {
    background-color: #007EA7;
}

.step span.undone {
    background-color: #6c757d;
}

.step .undone:after {
    background-color: #6c757d;
}


.step:last-child span::after {
    display: none;
}

.step span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.step:not(:last-child) span {
    margin-right: 20px;
}

/* background Colors */
/* .bg-info {
    background-color: #17a2b8;
}

.bg-success {
    background-color: #039A1A;
}

.bg-danger {
    background-color: #F97171;
} */

.bg-recorded {
    background-color: #FFA500;
    color: #fff;
}

li.not-active .bg-recorded {
    background-color: #ffa5003d;
}

li.not-active .bg-recorded:hover {
    background-color: #FFA500;
    color: #fff;
}

.step>span.bg-recorded:after {
    background-color: #FFA500;
}

.bg-notified {
    background-color: #F24C4C;
    color: #fff;
}

li.not-active .bg-notified {
    background-color: #f24c4c40;
}

li.not-active .bg-notified:hover {
    background-color: #F24C4C;
    color: #fff;
}

.step>span.bg-notified:after {
    background-color: #F24C4C;
}

.bg-verified {
    background-color: #0a7687;
    color: #fff;
}

li.not-active .bg-verified {
    background-color: #0a76872b;
}

li.not-active .bg-verified:hover {
    background-color: #0a7687;
    color: #fff;
}

.step>span.bg-verified:after {
    background-color: #0a7687;
}

.bg-resulted {
    background-color: #601052;
    color: #fff;
}

li.not-active .bg-resulted {
    background-color: #60105229;
}

li.not-active .bg-resulted:hover {
    background-color: #601052;
    color: #fff;
}

.step>span.bg-resulted:after {
    background-color: #601052;
}

.bg-rq {
    background-color: #039A1A;
    color: #fff;
}

li.not-active .bg-rq {
    background-color: #039a1a3b;
}

li.not-active .bg-rq:hover {
    background-color: #039A1A;
    color: #fff;
}

.step>span.bg-rq:after {
    background-color: #039A1A;
}

.bg-closed {
    background-color: #29434C;
    color: #fff;
}

li.not-active .bg-closed {
    background-color: #29434c33;
}

li.not-active .bg-closed:hover {
    background-color: #29434C;
    color: #fff;
}

.step>span.bg-closed:after {
    background-color: #29434C;
}

.bg-main {
    background-color: var(--appColor);
    color: #fff;
}

li.not-active .bg-main {
    background-color: #337ab733;
}

li.not-active .bg-main:hover {
    background-color: #286090;
}

.step>span.bg-main:after {
    background-color: #286090;
}

.btn-wrapper .icon-box {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}

.btn-wrapper .content-box {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    text-align: center;
    font-size: 13px;
    line-height: 1;
}

.btn-wrapper .content-box .number-box {
    margin-top: 0.25rem;
}

.nav-filter>li {
    margin-right: 1rem;
}

.nav-filter>li i {
    font-size: 14px;
}

.nav-filter li a.btn-wrapper {
    font-size: 14px;
    display: flex;
    padding: 0;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.not-active a.btn-wrapper {
    color: #676767;
}

a.btn-wrapper:hover {
    color: #fff;
}

/***** End Timeline *****/
/***** Custom Radio *****/
.custom-radio {
    margin: 0 !important;
}

.custom-radio label {
    padding: 0;
    background-color: #fff;
    border: 1px solid #C2D0DD;
    padding: 0 1rem;
    color: #646B72;
    position: relative;
    cursor: pointer;
    height: 22px;
    display: flex;
    align-items: center;
}

.custom-radio input {
    display: none;
}

.custom-radio input:checked+label {
    border-color: var(--appColor);
    background-color: var(--appColor);
    color: #fff;
}

.custom-radio input:checked:disabled+label {
    border-color: rgba(var(--bs-primary-rgb), .75);
    background-color: rgba(var(--bs-primary-rgb), .75);
}

.custom-radio input:disabled+label {
    border-color: #e9ecef;
    background-color: #e9ecef;
}

/***** End Custom Radio *****/

/***** DMS Style issues solutions *****/
/***** Colors *****/
.btn-outline-primary {
    --bs-btn-color: var(--appColor);
    --bs-btn-border-color: var(--appColor);
    --bs-btn-hover-bg: var(--appColor);
    --bs-btn-hover-border-color: var(--appColor);
    --bs-btn-active-bg: var(--appColor);
    --bs-btn-active-border-color: var(--appColor);
    --bs-btn-disabled-color: var(--appColor);
    --bs-btn-disabled-border-color: var(--appColor);
}

.btn:hover {
    color: var(--bs-btn-hover-color) !important;
}

/***** End Colors *****/
/***** Links *****/
body.DMSBlueBlue .page-title a[data-bs-dismiss="offcanvas"] {
    color: #fff;
}

.page-link:hover {
    color: #fff;
}

/***** End Links *****/
/***** Floating select *****/
.form-floating>.form-select {
    padding: 1rem 0.75rem;
}

.form-floating>.form-select~label {
    opacity: 1;
    transform: unset;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-floating>.form-select:focus,
.form-floating>.form-select:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating>.form-select:focus~label,
.form-floating>.form-select:not([value=""]):valid~label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

/***** End Floating select *****/
/***** Datatable *****/

table.dataTable thead>tr>th[data-orderable="false"]:before,
table.dataTable thead>tr>th[data-orderable="false"]:after {
    display: none;
}

table.dataTable thead th {
    vertical-align: middle;
}

table.dataTable.table-striped>tbody>tr.selected .text-primary {
    color: #fff !important;
}

table.dataTable>tbody>tr.not-saved{
    background-color: var(--appColor);
}

/***** End Datatable *****/
/***** Select2 *****/
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}

/***** End Select2 *****/
/***** Offcanvas *****/
.offcanvas.offcanvas-end {
    z-index: var(--bs-offcanvas-zindex);
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas-body .btn-secondary .badge {
    background-color: #4B5675;
}

/***** End Offcanvas *****/
/***** End DMS Style issues solutions *****/